.search-box{
    position: absolute;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    visibility: visible;
    left: 1050px;
    bottom: 600px;
    background: rgba(0, 0, 0, 0.486);
    z-index: 200;
    padding: 10px;
    border-radius: 25px;
}

/*.search-button{
    position: fixed;
    bottom: 610px;
    left : 1230px;
}
*/